<footer class="bg-white-100">
  <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="flex justify-center text-teal-600">
      <img
        class="w-36 h-full"
        src="/FreshCart_Transparent_NoBuffer.webp"
        alt="website logo"
      />
    </div>

    <p class="mx-auto my-6 max-w-md text-center leading-relaxed text-gray-500">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      consequuntur amet culpa cum itaque neque.
    </p>
  </div>
</footer>
