<section class="h-screen bg-gray-100 flex justify-center items-center gap-y-3">
  <div>
    <h2 class="sr-only">Steps</h2>
    <div
      [routerLink]="['/auth', 'log-in']"
      class="w-fit cursor-pointer flex items-center font-medium gap-x-0.5 hover group relative"
    >
      <p
        class="size-full rounded-full flex justify-center items-center relative group-hover:-translate-x-1 transition-all duration-200"
      >
        <ng-icon class="text-3xl" name="lucideCircleArrowLeft"></ng-icon>
      </p>
      <p class="text-gray-600 text-nowrap">Go Back</p>
    </div>
    <div class="w-2xl p-2">
      <div class="overflow-hidden rounded-full bg-gray-200">
        <div
          [class]="changeLineWidth$()"
          class="h-2 rounded-full bg-emerald-500 transition-all duration-300"
        ></div>
      </div>

      <ol class="mt-4 grid grid-cols-3 text-sm font-medium text-gray-500">
        <li
          [class]="stepCounter() === 1 ? 'text-emerald-600' : ''"
          class="flex items-center justify-start sm:gap-1.5"
        >
          <span class="hidden sm:inline"> Details </span>

          <ng-icon name="lucideFileUser"></ng-icon>
        </li>

        <li
          [class]="stepCounter() === 2 ? 'text-emerald-600' : ''"
          class="flex items-center justify-center sm:gap-1.5"
        >
          <span class="hidden sm:inline"> Reset Code </span>

          <ng-icon name="lucideShieldEllipsis"></ng-icon>
        </li>

        <li
          [class]="stepCounter() === 3 ? 'text-emerald-600' : ''"
          class="flex items-center justify-end sm:gap-1.5"
        >
          <span class="hidden sm:inline"> New Password </span>

          <ng-icon name="lucideCircleCheckBig"></ng-icon>
        </li>
      </ol>
    </div>

    <div class="bg-white rounded-lg shadow border border-gray-300 p-3">
      @if (stepCounter() === 1) {
        <div class="getting-email relative grid">
          <h3 class="text-xl">Enter You Email</h3>
          <label for="Email">
            <span class="text-sm font-medium text-gray-700"> Email </span>

            <input
              [formControl]="email"
              type="email"
              id="Email"
              class="mt-0.5 w-full focus:ring-emerald-500 rounded border-gray-300 shadow-sm sm:text-sm"
            />
          </label>
          <button
            [disabled]="!email.valid"
            [class]="
              !email.valid
                ? ['bg-gray-500', 'cursor-not-allowed', 'hover:bg-gray-600']
                : ''
            "
            type="submit"
            class="mt-2 cursor-pointer bg-emerald-500 rounded px-3 py-1.5 text-white hover:bg-emerald-600 transition-all duration-500 ease-in-out"
            (click)="checkEmail()"
          >
            Confirm
          </button>
          @if (isInvalid("email")) {
            <div>
              <p
                class="absolute top-1/2 translate-y-[-50%] left-[104%] flex flex-col items-start w-fit p-3 text-gray-600 bg-white rounded-lg shadow-lg dark:shadow-none shadow-gray-200 dark:bg-red-200 dark:text-white"
              >
                @if (getErrors("email", "required")) {
                  <span
                    class="truncate text-red-900 flex justify-center items-center gap-x-1"
                    ><ng-icon name="lucideCircleX"></ng-icon>Email is
                    required</span
                  >
                }

                @if (getErrors("email", "email")) {
                  <span
                    class="truncate text-red-900 flex justify-center items-center gap-x-1"
                    ><ng-icon name="lucideCircleX"></ng-icon>Email must be like
                    abc&#64;xyz.com</span
                  >
                }

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="absolute w-6 h-6 text-white transform rotate-45 -translate-y-1/2 fill-current -left-3 top-1/2 dark:text-red-200"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z"
                  ></path>
                </svg>
              </p>
            </div>
          }
        </div>
      }
      @if (stepCounter() === 2) {
        <div class="confirm-code relative">
          <h3 class="text-2xl">Enter Reset Code</h3>
          <p>
            we have sent to
            <span class="font-bold">{{ this.email.value }}</span>
            a 6-digit Reset Code Enter It blew
          </p>
          <section class="bg-white py-12 dark:bg-dark">
            <div class="container grid grid-rows-2 justify-center items-center">
              <label for="resetCode">
                <input
                  id="resetCode"
                  title="Reset Code"
                  type="text"
                  [formControl]="resetCode"
                  class="shadow ring-emerald-500 focus:border-emerald-500 focus:ring-emerald-500 flex w-52 items-center justify-center rounded-lg border border-stroke bg-white p-2 text-center text-2xl font-medium text-gray-5 outline-hidden sm:text-4xl dark:border-dark-3 dark:bg-white/5"
                />
              </label>
              <button
                [disabled]="!resetCode.valid"
                [class]="
                  !resetCode.valid
                    ? ['bg-gray-500', 'cursor-not-allowed', 'hover:bg-gray-600']
                    : ''
                "
                type="button"
                class="mt-2 cursor-pointer self-end bg-emerald-500 rounded px-3 py-1.5 text-white hover:bg-emerald-600 transition-all duration-500 ease-in-out"
                (click)="checkResetCode()"
              >
                Confirm
              </button>
            </div>
          </section>
          @if (isInvalid("resetCode")) {
            <div>
              <p
                class="absolute top-1/2 translate-y-[-50%] left-[104%] flex flex-col items-start w-fit p-3 text-gray-600 bg-white rounded-lg shadow-lg dark:shadow-none shadow-gray-200 dark:bg-red-200 dark:text-white"
              >
                @if (getErrors("resetCode", "required")) {
                  <span
                    class="truncate text-red-900 flex justify-center items-center gap-x-1"
                    ><ng-icon name="lucideCircleX"></ng-icon>Reset Code is
                    required</span
                  >
                }
                @if (getErrors("resetCode", "pattern")) {
                  <span
                    class="truncate text-red-900 flex justify-center items-center gap-x-1"
                    ><ng-icon name="lucideCircleX"></ng-icon>Reset Code Exactly
                    6 Digits</span
                  >
                }
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="absolute w-6 h-6 text-white transform rotate-45 -translate-y-1/2 fill-current -left-3 top-1/2 dark:text-red-200"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z"
                  ></path>
                </svg>
              </p>
            </div>
          }
        </div>
      }
      @if (stepCounter() === 3) {
        <div class="change-password">
          <h3 class="text-xl">Enter New Password</h3>
          <div class="mt-6 grid">
            <label
              for="password"
              class="block text-sm font-medium leading-5 text-gray-700"
            >
              Password
            </label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                [formControl]="newPassword"
                id="password"
                name="password"
                type="password"
                class="appearance-none ring-emerald-500 block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-emerald focus:border-emerald-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />

              @if (isInvalid("password")) {
                <div>
                  <p
                    class="absolute top-1/2 translate-y-[-50%] left-[104%] flex flex-col items-start w-fit p-3 text-gray-600 bg-white rounded-lg shadow-lg dark:shadow-none shadow-gray-200 dark:bg-red-200 dark:text-white"
                  >
                    @if (getErrors("password", "required")) {
                      <span
                        class="truncate text-red-900 flex justify-center items-center gap-x-1"
                        ><ng-icon name="lucideCircleX"></ng-icon>Password is
                        required</span
                      >
                    }

                    @if (getErrors("password", "pattern")) {
                      <span
                        class="truncate text-red-900 flex justify-center items-center gap-x-1"
                        ><ng-icon name="lucideCircleX"></ng-icon>Name Minimum
                        Length is 8</span
                      >
                    }

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="absolute w-6 h-6 text-white transform rotate-45 -translate-y-1/2 fill-current -left-3 top-1/2 dark:text-red-200"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z"
                      ></path>
                    </svg>
                  </p>
                </div>
              }
            </div>
            <button
              [disabled]="!newPassword.valid"
              [class]="
                !newPassword.valid
                  ? ['bg-gray-500', 'cursor-not-allowed', 'hover:bg-gray-600']
                  : ''
              "
              type="button"
              class="mt-2 cursor-pointer self-end bg-emerald-500 rounded px-3 py-1.5 text-white hover:bg-emerald-600 transition-all duration-500 ease-in-out"
              (click)="resetPassword()"
            >
              Confirm
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</section>
