<section class="bg-gray-200 p-3 rounded-lg">
  <div class="grid grid-cols-12 gap-2">
    <div
      class="col-span-12 p-8 lg:col-span-8 bg-white rounded-lg shadow flex relative justify-center items-center"
    >
      <div class="absolute top-2 right-3 flex flex-col items-end">
        <button
          (click)="toggleItemInWishlist(product()._id)"
          title="Toggle Product In Wishlist"
          type="button"
          [class]="
            !isProductInWishlist()
              ? ['text-gray-900', 'hover:text-red-600/75']
              : ['text-red-600', 'hover:text-gray-600/75']
          "
          class="text-3xl cursor-pointer text-gray-400 hover:text-red-600 transition duration-200"
        >
          @if (!isProductInWishlist()) {
            <ng-icon name="phosphorHeartStraight" />
          } @else {
            <ng-icon name="phosphorHeartStraightFill" />
          }
        </button>
        @if (isProductInCart()) {
          <p
            class="rounded bg-emerald-200 text-emerald-800 flex justify-center items-center p-1 gap-x-1"
          >
            <ng-icon name="lucideCheckCheck"></ng-icon>
            Product in Your Cart
          </p>
        }
      </div>
      <div
        class="flex justify-center w-96 items-center px-10 rounded-lg relative"
      >
        <swiper-container
          autoplay-delay="2500"
          class="w-full mySwiper rounded-lg relative"
          mousewheel="true"
          effect="cards"
          zoom="true"
          cards-effect-slide-shadows="false"
          mousewheel-force-to-axis="true"
          grab-cursor="true"
        >
          @for (image of product().images; track $index) {
            <swiper-slide>
              <img
                priority
                [src]="image"
                alt="{{ product().slug }}"
                class="w-full h-full object-cover rounded-lg shadow border-2 border-gray-200"
              />
            </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-4 bg-white rounded-lg p-4 shadow grid">
      <div>
        <p
          class="text-emerald-600 hover:text-emerald-700 cursor-pointer text-2xl"
        >
          {{ product().brand.name }}
        </p>
        <p class="text-gray-700">{{ product().category.name }}</p>
        <h3 class="text-4xl">{{ product().title }}</h3>
        <div class="flex items-center gap-x-0.5 mt-2">
          <div class="flex justify-center items-center">
            <span
              class="flex justify-center items-center text-lg p-1 size-5 rounded me-2"
              >{{ product().ratingsAverage }}</span
            >
            @for (
              star of [1, 2, 3, 4, 5].slice(0, product().ratingsAverage);
              track $index
            ) {
              <span class="text-yellow-500">
                <ng-icon name="lucideStar"></ng-icon>
              </span>
            }
            @for (
              star of [1, 2, 3, 4, 5].slice(product().ratingsAverage, 5);
              track $index
            ) {
              <span><ng-icon name="lucideStar"></ng-icon></span>
            }
          </div>

          <span
            class="underline text-emerald-500 flex justify-center items-center gap-1 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm"
            >{{ product().ratingsQuantity }} Ratings</span
          >
          <span
            class="bg-emerald-100 flex justify-center items-center gap-1 text-sm text-emerald-800 font-medium me-2 px-2.5 py-0.5 rounded-sm"
          >
            <ng-icon name="lucidePlus"></ng-icon> <span>Sold: </span>
            <span>{{ product().sold }}</span>
          </span>
        </div>
        <p class="text-xl mt-3">
          <span>Price: </span>
          <span>E{{ product().price | currency: "GBP" }}</span>
        </p>
        <p class="text-gray-500">{{ product().description }}</p>
      </div>
      <div class="self-end">
        <div class="action-buttons flex items-center gap-x-2 self-end">
          <button
            type="button"
            (click)="toggleItemInCart(product()._id)"
            [class]="
              isProductInCart() ? ['bg-red-500', 'hover:bg-red-600'] : ''
            "
            class="grow text-center bg-emerald-500 rounded p-2 shadow text-white cursor-pointer hover:bg-emerald-600 transition duration-200"
          >
            @if (isProductInCart()) {
              <div class="flex justify-center items-center gap-x-1">
                <ng-icon name="lucideTrash2"></ng-icon>
                <span>Remove From Cart</span>
              </div>
            } @else {
              Add To Cart
            }
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="review mt-2 shadow">
    <div class="rounded-lg bg-white p-3">
      @if (product().reviews.length !== 0) {
        <h3 class="text-2xl">Reviews</h3>
        @for (item of product().reviews; track $index) {
          <p>{{ item }}</p>
        }
      } @else {
        <h3 class="text-center text-2xl text-gray-500">No Reviews Until Now</h3>
      }
    </div>
  </div>
</section>
