<section class="py-8 rounded-2xl relative antialiased dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl">
    <div class="mx-auto max-w-6xl">
      <div class="gap-4 sm:flex sm:items-center sm:justify-between">
        <h2
          class="text-xl antialiased font-semibold text-gray-900 dark:text-white sm:text-2xl"
        >
          My Wishlist
        </h2>
      </div>

      <div class="mt-6 flow-root sm:mt-8">
        <div
          class="grid justify-center grid-cols-12 gap-2 rounded-lg divide-gray-200 dark:divide-gray-700"
        >
          @if (products() && products().length > 0) {
            @for (item of products(); track item._id) {
              <div
                class="col-span-12 lg:col-span-6 xl:col-span-4 2xl:col-span-3"
              >
                <app-product-card [product]="item" />
              </div>
            }
          } @else {
            <div
              class="w-full col-span-12 h-[calc(100vh-15rem)] flex justify-center items-center"
            >
              <p class="text-2xl text-gray-400">Empty Wishlist</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
