<!-- posters -->
<section class="posters mb-2">
  <swiper-container
    class="mySwiper"
    pagination-clickable="true"
    pagination="true"
    autoplay-delay="3500"
  >
    @for (item of images; track $index) {
      <swiper-slide>
        <figure><img [src]="item" class="w-full" alt="" /></figure>
      </swiper-slide>
    }
  </swiper-container>
</section>
<!-- end poster -->
<section class="categories-slider">
  <h2 class="text-center text-5xl font-bold my-2">Shop By Categories</h2>
  <app-categories-slider></app-categories-slider>
</section>
<div class="relative p-2">
  <img
    loading="eager"
    class="w-full"
    ngSrc="/images/banner1.avif"
    fill
    alt=""
  />
</div>
<section class="brands w-full">
  <h2 class="text-center text-5xl font-bold my-2">Explore Our Brands</h2>
  <div class="w-full relative p-3">
    <swiper-container
      class="mySwiper"
      slides-per-view="4"
      grid-fill="row"
      scrollbar-hide="true"
      grid-rows="2"
      free-mode="true"
      keyboard="true"
      space-between="10"
    >
      @for (item of _BrandsService.brands().data; track item._id) {
        <swiper-slide
          class="border-2 rounded-lg border-gray-200 relative cursor-pointer"
          [routerLink]="['/search', 'brand', item._id]"
        >
          <div
            class="gap-1 w-full grid grid-cols-6 items-center bg-emerald-100 rounded-lg"
          >
            <div class="col-span-3 overflow-hidden">
              <img
                [src]="item.image"
                class="w-full rounded-s-lg hover:scale-[110%] transition duration-200"
                alt="{{ item.slug }}"
              />
            </div>
            <div class="col-span-3 text-emerald-900">
              <p class="text-start">{{ item.name }}</p>
              <p
                class="text-start flex gap-x-1 transition duration-200 items-center"
              >
                More Products <ng-icon name="lucideArrowRight"></ng-icon>
              </p>
            </div>
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
<div class="relative p-2">
  <img
    loading="eager"
    class="w-full"
    ngSrc="/images/banner2.avif"
    fill
    alt=""
  />
</div>
<!-- @defer (on viewport) { -->
<section
  class="products container mx-auto p-3 my-2 slider rounded-lg shadow bg-slate-200"
>
  <h2 class="text-5xl font-bold my-2">Top Deals</h2>
  <div class="p-10">
    <swiper-container
      class="mySwiper"
      space-between="30"
      pagination="true"
      pagination-dynamic-bullets="true"
      slides-per-view="5"
      space-between="20"
      free-mode="true"
      keyboard="true"
      navigation="true"
    >
      @for (item of this._ProductsService.products(); track item._id) {
        <swiper-slide>
          <a
            class="grid grid-rows-3 border items-stretch h-[33rem] overflow-hidden border-gray-200 shadow rounded-lg group"
          >
            <button
              type="button"
              (click)="AddProductToWishlist(item._id)"
              title="Add to Wishlist"
              [class]="
                !item.inWishList
                  ? ['text-gray-900', 'hover:text-red-600/75']
                  : ['text-red-600', 'hover:text-gray-600/75']
              "
              class="absolute cursor-pointer size-8 text-xl end-4 top-4 z-10 rounded-full bg-white p-1.5 transition-all shadow-lg duration-200"
            >
              <span class="sr-only">Wishlist</span>
              @if (!item.inWishList) {
                <ng-icon name="phosphorHeartStraight" />
              } @else {
                <ng-icon name="phosphorHeartStraightFill" />
              }
            </button>

            <figure class="row-span-2 overflow-hidden">
              <img
                [routerLink]="['/product', item._id]"
                [src]="item.imageCover"
                alt="{{ item.slug }}"
                class="w-full h-full cursor-pointer object-cover transition duration-500 group-hover:scale-105"
              />
            </figure>

            <div
              class="grid row-span-1 relative border bg-white border-gray-100 p-3"
            >
              <div [routerLink]="['/product', item._id]" class="cursor-pointer">
                <p class="text-gray-700">
                  E{{ item.price | currency: "GBP" }}
                  <!-- <span class="text-gray-400 line-through">$80</span> -->
                </p>

                <h3
                  class="mt-1.5 text-lg overflow-hidden text-ellipsis line-clamp-2 font-medium text-gray-900"
                >
                  {{ item.title | titlecase }}
                </h3>
              </div>

              <div class="mt-4 self-end gap-4">
                <button
                  (click)="AddProductToCart(item._id)"
                  [class]="
                    isProductInCart('1')
                      ? ['border-red-600', 'text-red-600', 'hover:bg-red-600']
                      : [
                          'border-emerald-600',
                          'text-gray-900',
                          'hover:bg-emerald-600',
                        ]
                  "
                  title="Add To Cart"
                  type="button"
                  class="w-full flex gap-x-0.5 justify-center items-center shadow border rounded-sm bg-white px-4 py-3 text-sm font-medium transition-all duration-200 hover:text-white cursor-pointer"
                >
                  @if (!isProductInCart("1")) {
                    Add to Cart
                    <ng-icon name="lucideShoppingCart" />
                  } @else {
                    Remove From Cart
                    <ng-icon name="lucideTrash2" />
                  }
                </button>
              </div>
            </div>
          </a>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
<!-- } @placeholder {
  <p>loading</p>
} -->

<section class="electronics">
  <h2 class="text-5xl font-bold mt-4">Highly Rated in Electronics</h2>
  <div class="p-10">
    <swiper-container
      class="mySwiper"
      space-between="30"
      pagination="true"
      pagination-dynamic-bullets="true"
      slides-per-view="5"
      space-between="20"
      free-mode="true"
      keyboard="true"
      navigation="true"
    >
      @for (item of this.electronicProducts(); track item._id) {
        <swiper-slide>
          <a
            class="grid grid-rows-3 border items-stretch h-[33rem] overflow-hidden border-gray-200 shadow rounded-lg group"
          >
            <button
              type="button"
              (click)="AddProductToWishlist(item._id)"
              title="Add to Wishlist"
              [class]="
                !item.inWishList
                  ? ['text-gray-900', 'hover:text-red-600/75']
                  : ['text-red-600', 'hover:text-gray-600/75']
              "
              class="absolute cursor-pointer size-8 text-xl end-4 top-4 z-10 rounded-full bg-white p-1.5 transition-all shadow-lg duration-200"
            >
              <span class="sr-only">Wishlist</span>
              @if (!item.inWishList) {
                <ng-icon name="phosphorHeartStraight" />
              } @else {
                <ng-icon name="phosphorHeartStraightFill" />
              }
            </button>

            <figure class="row-span-2 overflow-hidden">
              <img
                [routerLink]="['/product', item._id]"
                [src]="item.imageCover"
                alt="{{ item.slug }}"
                class="w-full h-full cursor-pointer object-cover transition duration-500 group-hover:scale-105"
              />
            </figure>

            <div
              class="grid row-span-1 relative border bg-white border-gray-100 p-3"
            >
              <div [routerLink]="['/product', item._id]" class="cursor-pointer">
                <p class="text-gray-700">
                  E{{ item.price | currency: "GBP" }}
                  <!-- <span class="text-gray-400 line-through">$80</span> -->
                </p>

                <h3
                  class="mt-1.5 text-lg overflow-hidden text-ellipsis line-clamp-2 font-medium text-gray-900"
                >
                  {{ item.title | titlecase }}
                </h3>
              </div>

              <div class="mt-4 self-end gap-4">
                <button
                  (click)="AddProductToCart(item._id)"
                  [class]="
                    isProductInCart('1')
                      ? ['border-red-600', 'text-red-600', 'hover:bg-red-600']
                      : [
                          'border-emerald-600',
                          'text-gray-900',
                          'hover:bg-emerald-600',
                        ]
                  "
                  title="Add To Cart"
                  type="button"
                  class="w-full flex gap-x-0.5 justify-center items-center shadow border rounded-sm bg-white px-4 py-3 text-sm font-medium transition-all duration-200 hover:text-white cursor-pointer"
                >
                  @if (!isProductInCart("1")) {
                    Add to Cart
                    <ng-icon name="lucideShoppingCart" />
                  } @else {
                    Remove From Cart
                    <ng-icon name="lucideTrash2" />
                  }
                </button>
              </div>
            </div>
          </a>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
