 .mySwiper {
   --swiper-theme-color: var(--color-emerald-500);

 }

 .swiper-pagination-fraction,
 .swiper-pagination-custom,
 .swiper-horizontal > .swiper-pagination-bullets,
 .swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: var(--swiper-pagination-bottom, 18px);
   top: var(--swiper-pagination-top, auto);
   left: 0;
   width: 100%;
 }
