<header>
  <!-- delivery Modal -->
  <ng-container #addressModal />
  <!-- end delivery Modal -->
  <section
    class="bg-white/50 transition-all duration-300 fixed top-0 left-0 right-0 z-50 backdrop-blur-sm border-emerald-500 border-b-2"
  >
    <div class="mx-auto container-fluid px-4 sm:px-6 lg:px-8">
      <div class="flex justify-center h-16 items-center gap-x-2">
        <div class="logo grid justify-center items-center">
          <div class="md:flex md:items-center md:gap-12">
            <a class="block text-emerald-600 cursor-pointer" routerLink="home">
              <span class="sr-only">Home</span>
              <div class="logo">
                <p
                  class="font-medium text-2xl hover:text-emerald-700 transition-colors duration-200 text-nowrap"
                >
                  Fresh Cart
                </p>
              </div>
            </a>
          </div>
        </div>
        @if (isUserLoggedIn()) {
          <div class="max-w-[12rem] ms-1">
            <button
              class="grid grid-cols-6 w-full cursor-pointer hover:opacity-70 transition-all duration-200"
              type="button"
              (click)="openAddressModal()"
            >
              <span class="col-span-6 text-start text-gray-700"
                >Deliver to</span
              >
              <div class="col-span-5">
                <p
                  class="text-gray-700 whitespace-nowrap overflow-ellipsis overflow-hidden font-medium"
                >
                  @if (!userAddress()) {
                    <p>No Address yet</p>
                  } @else {
                    {{ userAddress().name }}
                    -
                    {{ userAddress().city }}
                    -
                    {{ userAddress().details }}
                  }
                </p>
              </div>
              <ng-icon
                class="col-span-1 ms-1 self-center"
                name="lucideCircleArrowDown"
              ></ng-icon>
            </button>
          </div>
        }
        @defer (on immediate; hydrate on immediate) {
          <div class="search min-w-20 max-w-screen-lg grow shrink">
            <app-search-bar />
          </div>
        }
        @if (isUserLoggedIn()) {
          <div class="flex gap-x-4 justify-center items-center">
            <button
              appHideOnClickOutside
              (hideOnClickOutside)="
                isMenuCollapsed() === false ? toggleUserMenu() : ''
              "
              type="button"
              title="User"
              (click)="toggleUserMenu()"
              class="max-w-[12rem] flex text-lg text-gray-700 justify-center items-center relative transition-all duration-150 cursor-pointer"
            >
              <span
                class="hover:opacity-70 text-end transition-all duration-150 cursor-pointer whitespace-nowrap overflow-ellipsis overflow-hidden"
              >
                Ahlan, {{ this.userName() | titlecase }}
              </span>
              @defer (on immediate; hydrate on interaction) {
                <div [class]="isMenuCollapsed() ? 'hidden' : 'block'">
                  <div
                    class="absolute left-0 end-0 top-7 z-30 w-fit overflow-hidden rounded border border-emerald-500 bg-white shadow-sm"
                  >
                    <div role="menubar">
                      <a
                        [routerLink]="['/account', 'orders']"
                        class="flex gap-2 text-nowrap items-center px-3 py-2 text-gray-700 text-sm font-medium transition-colors hover:bg-emerald-50 hover:text-emerald-700"
                        role="menuitem"
                      >
                        <ng-icon name="lucideBoxes"></ng-icon>
                        My Orders
                      </a>
                      <a
                        [routerLink]="['/account', 'profile']"
                        class="flex gap-2 text-nowrap items-center px-3 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-emerald-50 hover:text-emerald-700"
                        role="menuitem"
                      >
                        <ng-icon name="lucideCircleUserRound"></ng-icon>
                        My Profile
                      </a>
                      <a
                        class="flex gap-2 text-nowrap items-center px-3 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-emerald-50 hover:text-emerald-700"
                        role="menuitem"
                        type="button"
                        title="Toggle Theme"
                        tabindex="0"
                      >
                        <label class="inline-flex items-center cursor-pointer">
                          <input
                            type="checkbox"
                            (click)="
                              $event.stopPropagation();
                              this._ThemeService.toggleTheme()
                            "
                            [checked]="_ThemeService.theme() === 'dark'"
                            class="sr-only peer"
                          />
                          <div
                            class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-emerald-300 dark:peer-focus:ring-emerald-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-emerald-600 dark:peer-checked:bg-emerald-600"
                          ></div>
                          <span
                            class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                          >
                            {{ _ThemeService.theme() | titlecase }} Mode</span
                          >
                        </label>
                      </a>
                    </div>

                    <button
                      type="button"
                      (click)="Logout()"
                      class="flex gap-2 items-center cursor-pointer w-full px-3 py-2 text-left text-sm font-medium text-red-700 transition-colors hover:bg-red-50"
                    >
                      <ng-icon name="lucideLogOut"></ng-icon>
                      Log out
                    </button>
                  </div>
                </div>
              }
              <span
                class="flex justify-center mx-1 items-center hover:opacity-70 transition-all duration-150 cursor-pointer"
              >
                <ng-icon
                  class="cursor-pointer flex justify-center items-center"
                  name="lucideCircleArrowDown"
                ></ng-icon>
              </span>
            </button>
            <button
              type="button"
              class="hover:opacity-70 text-gray-700 text-lg transition-all duration-150 cursor-pointer"
              [routerLink]="['account', 'wishlist']"
            >
              <div
                class="w-full flex justify-center items-center gap-1 relative"
              >
                <p>wishlist</p>
                <ng-icon name="lucideHeart"></ng-icon>
                <span
                  class="absolute top-[-10px] left-[100%] text-xs items-center justify-center rounded-full bg-emerald-100 p-1 text-emerald-900"
                >
                  @if (isWishlistLoading$()) {
                    <ng-icon
                      class="animate-spin"
                      name="lucideLoaderCircle"
                    ></ng-icon>
                  } @else {
                    {{ wishlistItemsCount() }}
                  }
                </span>
              </div>
            </button>
            <button
              type="button"
              class="hover:opacity-70 text-gray-700 transition-all duration-150 cursor-pointer"
              [routerLink]="['/account', 'cart']"
            >
              <div
                class="w-full text-lg flex justify-center items-center gap-1 relative"
              >
                <p>Cart</p>
                <span
                  class="absolute top-[-10px] left-[100%] text-xs items-center justify-center rounded-full bg-emerald-100 p-1 text-emerald-900"
                >
                  @if (isCartLoading$()) {
                    <ng-icon
                      class="animate-spin"
                      name="lucideLoaderCircle"
                    ></ng-icon>
                  } @else {
                    {{ cartCount() }}
                  }
                </span>
                <ng-icon name="lucideShoppingCart"></ng-icon>
              </div>
            </button>
          </div>
        } @else {
          <div class="flex items-center gap-4">
            <div class="sm:flex sm:gap-4">
              <a
                class="rounded-md bg-emerald-600 px-5 py-2.5 text-sm font-medium text-white shadow-sm"
                [routerLink]="['/auth', 'log-in']"
              >
                Login
              </a>

              <div class="hidden sm:flex">
                <a
                  class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-emerald-600"
                  [routerLink]="['/auth', 'register']"
                >
                  Register
                </a>
              </div>
            </div>

            <div class="block md:hidden">
              <button
                type="button"
                title="side-menu"
                class="rounded-sm bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                </svg>
              </button>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
</header>
