<header class="antialiased">
  <!-- delivery Modal -->
  <ng-container #addressModal />
  <!-- end delivery Modal -->
  <nav
    class="border-gray-200 px-4 lg:px-6 dark:bg-gray-800/50 bg-white/50 dark:bg-dark-200/30 transition-all duration-300 fixed top-0 left-0 right-0 z-50 backdrop-blur-sm border-b-2"
    aria-label="Main navigation"
  >
    <div class="mx-auto container-fluid ps-4 sm:ps-6 lg:ps-8">
      <div class="flex justify-center h-16 items-center gap-x-2">
        <div
          [class]="isUserLoggedIn() ? 'justify-between' : 'justify-center'"
          class="log-search w-full flex justify-evenly"
        >
          <div class="logo grid justify-center items-center">
            <div class="md:flex md:items-center md:gap-12">
              <a type="button" [routerLink]="['home']" class="flex mr-4">
                <span
                  class="self-center text-primary-600 hover:text-emerald-700 transition-colors text-2xl font-semibold whitespace-nowrap dark:text-white"
                  >Fresh Cart</span
                >
              </a>
            </div>
          </div>
          @defer (on immediate; hydrate on immediate) {
            <div class="search min-w-20 max-w-4xl grow shrink">
              <app-search-bar />
            </div>
          }
        </div>

        @if (isUserLoggedIn()) {
          @if (!isMobile()) {
            <div class="flex gap-x-4 justify-center items-center">
              <button
                appHideOnClickOutside
                (hideOnClickOutside)="
                  isMenuCollapsed() === false ? toggleUserMenu() : ''
                "
                type="button"
                title="User"
                (click)="toggleUserMenu()"
                class="max-w-[12rem] flex text-xl text-gray-700 justify-center items-center relative cursor-pointer"
              >
                <span
                  class="hover:opacity-70 text-end cursor-pointer whitespace-nowrap overflow-ellipsis overflow-hidden"
                >
                  Ahlan, {{ this.userName() | titlecase }}
                </span>
                @defer (on immediate; hydrate on interaction) {
                  <div [class]="isMenuCollapsed() ? 'hidden' : 'block'">
                    <div
                      class="absolute left-0 end-0 top-7 z-30 w-fit overflow-hidden rounded border border-emerald-500 bg-white shadow-sm"
                    >
                      <div role="menubar">
                        <a
                          [routerLink]="['/account', 'orders']"
                          class="flex gap-2 text-nowrap items-center px-3 py-2 text-gray-700 text-base font-medium transition-colors hover:bg-emerald-50 hover:text-emerald-700"
                          role="menuitem"
                        >
                          <ng-icon name="lucideBoxes"></ng-icon>
                          My Orders
                        </a>
                        <a
                          [routerLink]="['/account', 'profile']"
                          class="flex gap-2 text-nowrap items-center px-3 py-2 text-base font-medium text-gray-700 transition-colors hover:bg-emerald-50 hover:text-emerald-700"
                          role="menuitem"
                        >
                          <ng-icon name="lucideCircleUserRound"></ng-icon>
                          My Profile
                        </a>
                      </div>
                    </div>
                  </div>
                }
                <span
                  class="flex justify-center mx-1 items-center hover:opacity-70 transition-all duration-150 cursor-pointer"
                >
                  <ng-icon
                    class="cursor-pointer flex justify-center items-center"
                    name="lucideCircleArrowDown"
                  ></ng-icon>
                </span>
              </button>
              <button
                type="button"
                class="hover:opacity-70 text-gray-700 text-xl transition-all duration-150 cursor-pointer"
                [routerLink]="['account', 'wishlist']"
              >
                <div
                  class="w-full flex justify-center items-center gap-1 relative"
                >
                  <p>wishlist</p>
                  <ng-icon name="lucideHeart"></ng-icon>
                  <span
                    class="absolute top-[-10px] left-[100%] text-xs items-center justify-center rounded-full bg-emerald-100 p-1 text-emerald-900"
                  >
                    @if (isWishlistLoading$()) {
                      <ng-icon
                        class="animate-spin"
                        name="lucideLoaderCircle"
                      ></ng-icon>
                    } @else {
                      {{ wishlistItemsCount() }}
                    }
                  </span>
                </div>
              </button>
              <button
                type="button"
                class="hover:opacity-70 text-gray-700 transition-all duration-150 cursor-pointer"
                [routerLink]="['/account', 'cart']"
              >
                <div
                  class="w-full text-xl flex justify-center items-center gap-1 relative"
                >
                  <p>Cart</p>
                  <span
                    class="absolute top-[-10px] left-[100%] text-xs items-center justify-center rounded-full bg-emerald-100 p-1 text-emerald-900"
                  >
                    @if (isCartLoading$()) {
                      <ng-icon
                        class="animate-spin"
                        name="lucideLoaderCircle"
                      ></ng-icon>
                    } @else {
                      {{ cartCount() }}
                    }
                  </span>
                  <ng-icon name="lucideShoppingCart"></ng-icon>
                </div>
              </button>
              <button
                type="button"
                (click)="Logout()"
                class="flex gap-2 group items-center rounded-lg cursor-pointer w-full px-3 py-2 text-left text-base font-medium text-gray-700 text-nowrap hover:text-red-700 transition-colors hover:bg-red-50"
              >
                <ng-icon
                  class="relative group-hover:translate-x-1"
                  name="lucideLogOut"
                ></ng-icon>
                Log out
              </button>
            </div>
          }
        } @else {
          <div class="flex items-center gap-4">
            <div class="sm:flex sm:gap-4">
              <a
                class="rounded-md bg-emerald-600 px-5 py-2.5 text-sm font-medium text-white shadow-sm"
                [routerLink]="['/auth', 'log-in']"
              >
                Login
              </a>

              <div class="hidden sm:flex">
                <a
                  class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-emerald-600"
                  [routerLink]="['/auth', 'register']"
                >
                  Register
                </a>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </nav>
</header>
