<section>
  <div class="grid gap-3" [class]="isMobile() ? 'grid-rows-2' : 'grid-cols-2'">
    <div
      class="bg-white py-4 shadow border-gray-100 rounded-lg dark:border-gray-700 border"
    >
      <h3 class="text-2xl ms-3 mb-1 text-nowrap">Personal Information</h3>
      <form
        [formGroup]="userInfo"
        class="mx-auto p-3 flex flex-col justify-center"
        (ngSubmit)="updateUserInfo()"
      >
        <div>
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your Name</label
          >
          <input
            type="text"
            formControlName="name"
            name="name"
            id="name"
            [class]="
              isInvalid('name')
                ? [
                    'text-red-900',
                    'focus:ring-red-600',
                    'focus:border-red-600',
                    'dark:text-red-500',
                    'dark:focus:ring-red-500',
                    'dark:focus:border-red-500',
                    'border-red-300',
                    'dark:border-red-600',
                  ]
                : [
                    'text-gray-900',
                    'focus:ring-primary-600',
                    'focus:border-primary-600',
                    'dark:text-white',
                    'dark:focus:ring-primary-500',
                    'dark:focus:border-primary-500',
                    'border-gray-300',
                    'dark:border-gray-600',
                  ]
            "
            class="bg-gray-50 border text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400"
            placeholder="John Doe"
          />
          @if (isInvalid("name")) {
            <div
              class="p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              @if (getErrors("name", "required")) {
                <span
                  class="truncate text-red-800 flex font-medium items-center gap-x-1"
                  ><ng-icon name="lucideCircleX" />Name is required
                </span>
              }
              @if (getErrors("name", "minlength")) {
                <span
                  class="truncate text-red-800 flex font-medium items-center gap-x-1"
                  ><ng-icon name="lucideCircleX"></ng-icon>Name Minimum Length
                  is 3</span
                >
              }
              @if (getErrors("name", "maxlength")) {
                <span
                  class="truncate text-red-800 flex font-medium items-center gap-x-1"
                  ><ng-icon name="lucideCircleX" /> Name Maximum Length is 20
                </span>
              }
            </div>
          }
        </div>

        <div class="mt-6">
          <label
            for="phone"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your Phone</label
          >
          <input
            type="text"
            name="phone"
            id="phone"
            formControlName="phone"
            placeholder="01234567890"
            [class]="
              isInvalid('phone')
                ? [
                    'text-red-900',
                    'focus:ring-red-600',
                    'focus:border-red-600',
                    'dark:text-red-500',
                    'dark:focus:ring-red-500',
                    'dark:focus:border-red-500',
                    'border-red-300',
                    'dark:border-red-600',
                  ]
                : [
                    'text-gray-900',
                    'focus:ring-primary-600',
                    'focus:border-primary-600',
                    'dark:text-white',
                    'dark:focus:ring-primary-500',
                    'dark:focus:border-primary-500',
                    'border-gray-300',
                    'dark:border-gray-600',
                  ]
            "
            class="bg-gray-50 border text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          />
          @if (isInvalid("phone")) {
            <div>
              <div
                class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert"
              >
                @if (getErrors("phone", "required")) {
                  <span
                    class="truncate text-red-800 flex font-medium items-center gap-x-1"
                    ><ng-icon name="lucideCircleX"></ng-icon>Phone is
                    required</span
                  >
                }
                @if (getErrors("phone", "pattern")) {
                  <span
                    class="truncate text-red-900 flex font-medium items-center gap-x-1"
                  >
                    <ng-icon name="lucideCircleX" />
                    Phone Must Be like 01234567890
                  </span>
                }
              </div>
            </div>
          }
        </div>

        <div class="mt-6">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your email</label
          >
          <input
            type="email"
            name="email"
            formControlName="email"
            id="email"
            [class]="
              isInvalid('email')
                ? [
                    'dark:text-red-500',
                    'text-red-900',
                    'border-red-300',
                    'focus:ring-red-600',
                    'focus:border-red-600',
                    'dark:focus:ring-red-500',
                    'dark:focus:border-red-500',
                    'dark:border-gray-600',
                    'dark:bg-gray-700',
                  ]
                : [
                    'dark:text-white',
                    'text-gray-900',
                    'border-gray-300',
                    'focus:ring-primary-600',
                    'focus:border-primary-600',
                    'dark:focus:ring-primary-500',
                    'dark:focus:border-primary-500',
                    'dark:border-gray-600',
                    'dark:bg-gray-700',
                  ]
            "
            class="bg-gray-50 border rounded-lg block w-full p-2.5 dark:placeholder-gray-400"
            placeholder="name@example.com"
          />
          @if (isInvalid("email")) {
            <div
              class="p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              @if (getErrors("email", "required")) {
                <span
                  class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                >
                  <ng-icon name="lucideCircleX" />Email is required
                </span>
              }

              @if (getErrors("email", "email")) {
                <span
                  class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                >
                  <ng-icon name="lucideCircleX" />
                  Email must be like abc&#64;xyz.com
                </span>
              }
            </div>
          }
        </div>
        <div class="mt-6">
          <button
            type="submit"
            [disabled]="!userInfo.valid"
            [class]="
              userInfo.valid && !isLoading()
                ? [
                    'bg-emerald-600',
                    'hover:bg-emerald-500',
                    'focus:border-emerald-700',
                    'active:bg-emerald-700',
                    'cursor-pointer',
                  ]
                : [
                    'bg-gray-600',
                    'hover:bg-gray-500',
                    'focus:border-gray-700',
                    'active:bg-gray-700',
                    'cursor-not-allowed',
                  ]
            "
            class="block w-full rounded-md shadow-sm bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-300 sm:w-auto px-5 py-2.5 text-center dark:bg-emerald-600 dark:hover:bg-emerlad-700 dark:focus:ring-emerald-800 justify-center border border-transparent text-sm font-medium text-white focus:outline-none focus:shadow-outline-emerald transition duration-150 ease-in-out"
          >
            @if (isLoading()) {
              <ng-icon
                class="text-lg animate-spin"
                name="lucideLoaderCircle"
              ></ng-icon>
            } @else {
              Confirm Change
            }
          </button>
        </div>
      </form>
    </div>
    <div
      class="bg-white py-4 border-gray-100 shadow rounded-lg dark:border-emerald-700 border w-full"
    >
      <h3 class="text-2xl ms-3 mb-1 text-nowrap">Change Password</h3>
      <form
        class="p-4 mx-auto flex flex-col justify-center"
        [formGroup]="newPasswordForm"
        (ngSubmit)="updateUserPassword()"
      >
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Current Password</label
          >
          <input
            type="password"
            formControlName="currentPassword"
            name="password"
            id="password"
            placeholder="••••••••"
            [class]="
              isInvalid('password')
                ? [
                    'dark:text-red-500',
                    'text-red-900',
                    'border-red-300',
                    'focus:ring-red-600',
                    'focus:border-red-600',
                    'dark:focus:ring-red-500',
                    'dark:focus:border-red-500',
                    'dark:border-red-600',
                    'dark:bg-red-700',
                  ]
                : [
                    'dark:text-white',
                    'text-gray-900',
                    'border-gray-300',
                    'focus:ring-primary-600',
                    'focus:border-primary-600',
                    'dark:focus:ring-primary-500',
                    'dark:focus:border-primary-500',
                    'dark:border-gray-600',
                    'dark:bg-gray-700',
                  ]
            "
            class="border rounded-lg block w-full p-2.5 bg-gray-50 dark:bg-gray-700 dark:placeholder-gray-400"
          />
          @if (isInvalid("password")) {
            <div
              class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              @if (getErrors("password", "required")) {
                <span
                  class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                >
                  <ng-icon name="lucideCircleX" />
                  Password is required
                </span>
              }

              @if (getErrors("password", "pattern")) {
                <span
                  class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                >
                  <ng-icon name="lucideCircleX" />
                  Password Minimum Length is 8</span
                >
              }
            </div>
          }
        </div>
        <div class="mt-6">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >New Password</label
          >
          <input
            type="password"
            formControlName="password"
            name="password"
            id="password"
            placeholder="••••••••"
            [class]="
              isInvalid('password')
                ? [
                    'dark:text-red-500',
                    'text-red-900',
                    'border-red-300',
                    'focus:ring-red-600',
                    'focus:border-red-600',
                    'dark:focus:ring-red-500',
                    'dark:focus:border-red-500',
                    'dark:border-red-600',
                    'dark:bg-red-700',
                  ]
                : [
                    'dark:text-white',
                    'text-gray-900',
                    'border-gray-300',
                    'focus:ring-primary-600',
                    'focus:border-primary-600',
                    'dark:focus:ring-primary-500',
                    'dark:focus:border-primary-500',
                    'dark:border-gray-600',
                    'dark:bg-gray-700',
                  ]
            "
            class="border rounded-lg block w-full p-2.5 bg-gray-50 dark:bg-gray-700 dark:placeholder-gray-400"
          />
          @if (isInvalid("password")) {
            <div
              class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              @if (getErrors("password", "required")) {
                <span
                  class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                >
                  <ng-icon name="lucideCircleX" />
                  Password is required
                </span>
              }

              @if (getErrors("password", "pattern")) {
                <span
                  class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                >
                  <ng-icon name="lucideCircleX" />
                  Password Minimum Length is 8</span
                >
              }
            </div>
          }
        </div>
        <div class="mt-6">
          <label
            for="rePassword"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Confirm password</label
          >
          <input
            type="Password"
            formControlName="rePassword"
            name="rePassword"
            id="rePassword"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          />
          @if (newPasswordForm.getError("mismatch")) {
            <div
              class="p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <span
                class="truncate text-red-800 flex items-center font-medium gap-x-1"
              >
                <ng-icon name="lucideCircleX" />
                Password mismatch
              </span>
            </div>
          }
        </div>
        <div class="mt-6">
          <button
            type="submit"
            [disabled]="!userInfo.valid"
            [class]="
              userInfo.valid && !isLoading()
                ? [
                    'bg-emerald-600',
                    'hover:bg-emerald-500',
                    'focus:border-emerald-700',
                    'active:bg-emerald-700',
                    'cursor-pointer',
                  ]
                : [
                    'bg-gray-600',
                    'hover:bg-gray-500',
                    'focus:border-gray-700',
                    'active:bg-gray-700',
                    'cursor-not-allowed',
                  ]
            "
            class="flex w-full rounded-md shadow-sm bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-300 sm:w-auto px-5 py-2.5 text-center dark:bg-emerald-600 dark:hover:bg-emerlad-700 dark:focus:ring-emerald-800 justify-center border border-transparent text-sm font-medium text-white focus:outline-none focus:shadow-outline-emerald transition duration-150 ease-in-out"
          >
            @if (isLoading()) {
              <ng-icon
                class="text-lg animate-spin"
                name="lucideLoaderCircle"
              ></ng-icon>
            } @else {
              Confirm Change
            }
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
