<div
  class="relative grid grid-rows-3 items-stretch h-[33rem] w-full overflow-hidden group border bg-white border-gray-200 shadow rounded-lg"
>
  <figure
    class="row-span-2 animate-pulse overflow-hidden cursor-progress flex justify-center items-center"
  >
    <svg
      class="w-10 h-10 text-gray-200 dark:text-gray-600"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 18"
    >
      <path
        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
      />
    </svg>
  </figure>

  <div class="row-span-1 grid relative border bg-white border-gray-100 p-3">
    <div>
      <div
        class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"
      ></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
      <div
        class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"
      ></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
    </div>
    <div class="mt-4 flex items-center justify-center gap-4">
      <div
        title="Loading"
        type="button"
        class="animate-pulse h-2.5 bg-gray-300 dark:bg-gray-600 w-full flex gap-x-0.5 justify-center items-center rounded-sm px-4 py-3 text-sm font-medium cursor-progress text-gray-600/75"
      ></div>
    </div>
  </div>
</div>
