/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "@tailwindcss/forms";
@custom-variant dark (&:where(.dark, .dark *));

.body {
  @apply bg-slate-200
}

@theme {
  --color-emerald-50: #f0fdf6;
  --color-emerald-100: #ddfbeb;
  --color-emerald-200: #bdf5d8;
  --color-emerald-300: #89ecb9;
  --color-emerald-400: #39d585;
  --color-emerald-500: #27c072;
  --color-emerald-600: #1a9f5b;
  --color-emerald-700: #187d4a;
  --color-emerald-800: #18633e;
  --color-emerald-900: #165134;
  --color-emerald-950: #062d1b;
}