<a
  [routerLink]="['/home']"
  class="flex justify-center items-center mb-6 py-8 text-2xl font-semibold text-primary-600 dark:text-white"
>
  Fresh Cart
</a>
<section class="flex justify-center items-center gap-y-3 px-2">
  <div>
    <h2 class="sr-only">Steps</h2>
    <div
      [routerLink]="['/auth', 'log-in']"
      class="w-fit cursor-pointer flex items-center font-medium gap-x-0.5 hover group relative"
    >
      <p
        class="size-full rounded-full flex justify-center items-center relative text-gray-600 group-hover:-translate-x-1 transition-all duration-200"
      >
        <ng-icon class="text-3xl" name="lucideCircleArrowLeft"></ng-icon>
      </p>
      <p class="text-nowrap text-gray-600">Go Back To Login</p>
    </div>
    <div class="p-2">
      <div class="overflow-hidden rounded-full bg-gray-200">
        <div
          [class]="changeLineWidth$()"
          class="h-2 rounded-full bg-primary-500 transition-all duration-300"
        ></div>
      </div>

      <ol class="mt-4 grid grid-cols-3 text-sm font-medium text-gray-500">
        <li
          [class]="stepCounter() === 1 ? 'text-primary-600' : ''"
          class="flex items-center justify-start sm:gap-1.5"
        >
          <span class="hidden sm:inline"> Details </span>

          <ng-icon name="lucideFileUser"></ng-icon>
        </li>

        <li
          [class]="stepCounter() === 2 ? 'text-primary-600' : ''"
          class="flex items-center justify-center sm:gap-1.5"
        >
          <span class="hidden sm:inline"> Reset Code </span>

          <ng-icon name="lucideShieldEllipsis"></ng-icon>
        </li>

        <li
          [class]="stepCounter() === 3 ? 'text-primary-600' : ''"
          class="flex items-center justify-end sm:gap-1.5"
        >
          <span class="hidden sm:inline"> New Password </span>

          <ng-icon name="lucideCircleCheckBig"></ng-icon>
        </li>
      </ol>
    </div>

    <div class="bg-white rounded-lg shadow border border-gray-300 p-3">
      @if (stepCounter() === 1) {
        <section class="bg-gray-50 dark:bg-gray-900">
          <div
            class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0"
          >
            <div
              class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8"
            >
              <h1
                class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
              >
                Forgot your password?
              </h1>
              <p class="font-light text-gray-500 dark:text-gray-400">
                Don't fret! Just type in your email and we will send you a code
                to reset your password!
              </p>

              <div>
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your email</label
                >
                <input
                  type="email"
                  name="email"
                  [formControl]="email"
                  id="email"
                  [class]="
                    isInvalid('email')
                      ? [
                          'dark:text-red-500',
                          'text-red-900',
                          'border-red-300',
                          'focus:ring-red-600',
                          'focus:border-red-600',
                          'dark:focus:ring-red-500',
                          'dark:focus:border-red-500',
                          'dark:border-gray-600',
                          'dark:bg-gray-700',
                        ]
                      : [
                          'dark:text-white',
                          'text-gray-900',
                          'border-gray-300',
                          'focus:ring-primary-600',
                          'focus:border-primary-600',
                          'dark:focus:ring-primary-500',
                          'dark:focus:border-primary-500',
                          'dark:border-gray-600',
                          'dark:bg-gray-700',
                        ]
                  "
                  class="bg-gray-50 border rounded-lg block w-full p-2.5 dark:placeholder-gray-400"
                  placeholder="name@example.com"
                />
                @if (isInvalid("email")) {
                  <div
                    class="p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert"
                  >
                    @if (getErrors("email", "required")) {
                      <span
                        class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                      >
                        <ng-icon name="lucideCircleX" />Email is required
                      </span>
                    }

                    @if (getErrors("email", "email")) {
                      <span
                        class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                      >
                        <ng-icon name="lucideCircleX" />
                        Email must be like abc&#64;xyz.com
                      </span>
                    }
                  </div>
                }
              </div>
              <button
                type="submit"
                [disabled]="!email.valid"
                [class]="
                  !email.valid
                    ? [
                        'cursor-not-allowed',
                        'bg-gray-600',
                        'hover:bg-gray-700',
                        'focus:ring-gray-300',
                        'dark:bg-gray-600',
                        'dark:hover:bg-gray-700',
                        'dark:focus:ring-gray-800',
                      ]
                    : [
                        'cursor-pointer',
                        'bg-primary-600',
                        'hover:bg-primary-700',
                        'focus:ring-primary-300',
                        'dark:bg-primary-600',
                        'dark:hover:bg-primary-700',
                        'dark:focus:ring-primary-800',
                      ]
                "
                (click)="checkEmail()"
                class="w-full mt-2 text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                @if (!isEmailCheckLoading()) {
                  Confirm
                } @else {
                  <ng-icon
                    class="text-lg animate-spin"
                    name="lucideLoaderCircle"
                  />
                }
              </button>
            </div>
          </div>
        </section>
      }
      @if (stepCounter() === 2) {
        <section class="bg-gray-50 dark:bg-gray-900">
          <div
            class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0"
          >
            <div
              class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8"
            >
              <h1
                class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
              >
                Enter Reset Code
              </h1>
              <p class="font-light text-gray-500 dark:text-gray-400">
                We have sent to
                <span class="font-bold">{{ this.email.value }}</span>
                a 6-digit Reset Code Enter It blew
              </p>
              <strong>Only Valid From 10 Minutes</strong>

              <div>
                <label
                  for="resetCode"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your Code</label
                >
                <input
                  type="text"
                  name="resetCode"
                  [formControl]="resetCode"
                  id="resetCode"
                  placeholder="••••••"
                  [class]="
                    isInvalid('resetCode')
                      ? [
                          'dark:text-red-500',
                          'text-red-900',
                          'border-red-300',
                          'focus:ring-red-600',
                          'focus:border-red-600',
                          'dark:focus:ring-red-500',
                          'dark:focus:border-red-500',
                          'dark:border-gray-600',
                          'dark:bg-gray-700',
                        ]
                      : [
                          'dark:text-white',
                          'text-gray-900',
                          'border-gray-300',
                          'focus:ring-primary-600',
                          'focus:border-primary-600',
                          'dark:focus:ring-primary-500',
                          'dark:focus:border-primary-500',
                          'dark:border-gray-600',
                          'dark:bg-gray-700',
                        ]
                  "
                  class="bg-gray-50 border rounded-lg block w-full p-2.5 dark:placeholder-gray-400"
                />
                @if (isInvalid("resetCode")) {
                  <div
                    class="p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert"
                  >
                    @if (getErrors("resetCode", "required")) {
                      <span
                        class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                      >
                        <ng-icon name="lucideCircleX" />Code is required
                      </span>
                    }

                    @if (getErrors("resetCode", "pattern")) {
                      <span
                        class="truncate text-red-800 flex items-center gap-x-1 font-medium"
                      >
                        <ng-icon name="lucideCircleX" />
                        Incorrect Code
                      </span>
                    }
                  </div>
                }
              </div>
              <button
                type="submit"
                [formControl]="resetCode"
                [disabled]="!resetCode.valid"
                [class]="
                  !resetCode.valid
                    ? [
                        'cursor-not-allowed',
                        'bg-gray-600',
                        'hover:bg-gray-700',
                        'focus:ring-gray-300',
                        'dark:bg-gray-600',
                        'dark:hover:bg-gray-700',
                        'dark:focus:ring-gray-800',
                      ]
                    : [
                        'cursor-pointer',
                        'bg-primary-600',
                        'hover:bg-primary-700',
                        'focus:ring-primary-300',
                        'dark:bg-primary-600',
                        'dark:hover:bg-primary-700',
                        'dark:focus:ring-primary-800',
                      ]
                "
                (click)="checkResetCode()"
                class="w-full mt-2 text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                @if (isCodeCheckLoading()) {
                  <ng-icon
                    class="text-lg animate-spin"
                    name="lucideLoaderCircle"
                  ></ng-icon>
                } @else {
                  Confirm
                }
              </button>
            </div>
          </div>
        </section>
      }
      @if (stepCounter() === 3) {
        <section class="bg-gray-50 dark:bg-gray-900">
          <div
            class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0"
          >
            <div
              class="w-full bg-white rounded-lg dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8"
            >
              <h1
                class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
              >
                New Password
              </h1>
              <p class="font-light text-gray-500 dark:text-gray-400">
                Choose Strong Password This Time And Saved it
              </p>
              <div class="mt-4 space-y-4 lg:mt-5 md:space-y-5">
                <div>
                  <label
                    for="newPassword"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Password</label
                  >
                  <input
                    name="newPassword"
                    id="email"
                    [formControl]="newPassword"
                    id="password"
                    type="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="••••••••"
                  />
                  @if (isInvalid("newPassword")) {
                    <div>
                      <p
                        class="absolute top-1/2 translate-y-[-50%] left-[104%] flex flex-col items-start w-fit p-3 text-gray-600 bg-white rounded-lg shadow-lg dark:shadow-none shadow-gray-200 dark:bg-red-200 dark:text-white"
                      >
                        @if (getErrors("newPassword", "required")) {
                          <span
                            class="truncate text-red-900 flex justify-center items-center gap-x-1"
                          >
                            <ng-icon name="lucideCircleX" /> Password is
                            required
                          </span>
                        }

                        @if (getErrors("password", "pattern")) {
                          <span
                            class="truncate text-red-900 flex justify-center items-center gap-x-1"
                            ><ng-icon name="lucideCircleX" /> Password Minimum
                            Length is 8
                          </span>
                        }

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="absolute w-6 h-6 text-white transform rotate-45 -translate-y-1/2 fill-current -left-3 top-1/2 dark:text-red-200"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z"
                          ></path>
                        </svg>
                      </p>
                    </div>
                  }
                </div>

                <button
                  type="submit"
                  [disabled]="!newPassword.valid"
                  (click)="resetPassword()"
                  [class]="
                    !newPassword.valid
                      ? [
                          'cursor-not-allowed',
                          'bg-gray-600',
                          'hover:bg-gray-700',
                          'focus:ring-gray-300',
                          'dark:bg-gray-600',
                          'dark:hover:bg-gray-700',
                          'dark:focus:ring-gray-800',
                        ]
                      : [
                          'cursor-pointer',
                          'bg-primary-600',
                          'hover:bg-primary-700',
                          'focus:ring-primary-300',
                          'dark:bg-primary-600',
                          'dark:hover:bg-primary-700',
                          'dark:focus:ring-primary-800',
                        ]
                  "
                  class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                >
                  @if (isNewPasswordLoading()) {
                    <ng-icon
                      class="text-lg animate-spin"
                      name="lucideLoaderCircle"
                    ></ng-icon>
                  } @else {
                    Confirm
                  }
                </button>
              </div>
            </div>
          </div>
        </section>
      }
    </div>
  </div>
</section>
